.vscode
settings.py
dbs/
eggs/
tests/
*.conf
*__pycache__
test.*
*.csv
*.log
*.json
crawl/
*build/
*.egg-info/
*log
autoruSpider/autoruSpider/csv
autoruSpider/autoruSpider/json
*eggs/
.gitignore
dist/