crawl/
autoruSpider/autoruSpider/__pycache__
autoruSpider/autoruSpider/spiders/__pycache__
autoruSpider/autoruSpider/*.csv
*__pycache__
.vscode
autoruSpider/autoruSpider/*.log
test.*
*.csv
*.log
settings.py
db_test.py
autoruSpider/build/
autoruSpider/dbs/
autoruSpider/eggs/
autoruSpider/project.egg-info/
.gitignore