.vscode
settings.py
setup.py
db_test.py
*__pycache__
test.*
*.csv
*.log
crawl/
autoruSpider/build/
autoruSpider/project.egg-info/
autoruSpider/autoruSpider/log
autoruSpider/autoruSpider/csv
autoruSpider/autoruSpider/json
autoruSpider/autoruSpider/spiders/img/
autoruSpider/autoruSpider/spiders/json/
autoruSpider/autoruSpider/spiders/log/
autoruSpider/autoruSpider/spiders/logs/
autoruSpider/autoruSpider/spiders/csv/
autoruSpider/autoruSpider/spiders/html/
autoruSpider/autoruSpider/spiders/dbs/
autoruSpider/autoruSpider/spiders/eggs/
autoruSpider/autoruSpider/__pycache__
autoruSpider/autoruSpider/spiders/__pycache__
.gitignore